<style>

.side-image {
  opacity: 1;
  display: block;
  max-width: 100%;
  height: auto;
  transition: .2s ease;
  backface-visibility: hidden;
}

.side-image:hover {
  background: transparent;
  opacity: 0.5;
}
</style>

<div id="sidebar">
  <header>
    {% if page.url == "/" %}
    <center>
      <a href="{{ site.baseurl }}/">
        <img src="{{ site.baseurl }}/assets/images/profile.png" alt="profile" height="250" width="250" class="side-image"/>
      </a>
    </center>
    {% endif %}
    <{% if page.layout == "index" %}h1{% else %}div{% endif %} class="site-title">
      <a href="{{ site.baseurl }}/">
        {% unless page.url == "/" %}
          <span class="back-arrow icon">{% include svg/back-arrow.svg %}</span>
        {% endunless %}
      </a>
    {{ site.title }}
    </{% if page.layout == "index" %}h1{% else %}div{% endif %}>
    <p class="lead">{{ site.description }}</p>
  </header>
  {% include sidebar-nav-links.html %}

  {% if site.version %}
    <span class="site-version">Currently v{{ site.version }}</span>
  {% endif %}

  {% include sidebar-icon-links.html %}
  {% include copyright.html %}
</div>
